<%- include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>
    <div class="container">
      <div class="card">
        <h1 class="card-header"><%= title %></h1>
        <div class="card-body">
          <h3>GitHub Repository: </h3>
          <a href="https://github.com/hannamkrtchian/Forum">Link to GitHub</a>
          <hr>
          <h3>Sources & tutorials: </h3>
          <a href="https://getbootstrap.com/">1. Bootstrap for design.</a>
          <a href="https://www.youtube.com/watch?v=p3O6YcUUJmE">2. Basic Express API tutorial.</a>
          <a href="https://blog.logrocket.com/how-to-use-ejs-template-node-js-application/">3. Use of partials and views.</a>
          <a href="#"></a>
        </div>
      </div>
    </div>
  </body>
<%- include('../partials/footer') %>