<%- include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>
    <div class="container">
      <div class="card">
        <h1 class="card-header"><%= title %></h1>
        <div class="card-body">
          <h5>GitHub Repository: </h5>
          <a href="https://github.com/hannamkrtchian/Forum">Link to GitHub</a>
          <hr>
          <h5>Sources & tutorials: </h5>
          <a href="https://getbootstrap.com/">1. Bootstrap for design.</a><br>
          <a href="https://www.youtube.com/watch?v=p3O6YcUUJmE">2. Basic Express API tutorial.</a><br>
          <a href="https://blog.logrocket.com/how-to-use-ejs-template-node-js-application/">3. Use of partials and views.</a><br>
          <a href="https://ejs.co/#docs">4. EJS Documentation.</a><br>
          <a href="https://www.mongodb.com/blog/post/quick-start-nodejs-mongodb-how-to-get-connected-to-your-database">5. Tutorial for MongoDB Connection & CRUD operations.</a><br>
          <a href="https://ajv.js.org/">6. Ajv JSON schema validator.</a><br>
          <hr>
          <h5>Routes: </h5>
          <p>Homepage: <a href="http://localhost:3000/">http://localhost:3000/</a></p>
          <p>Aboutpage: <a href="http://localhost:3000/about">http://localhost:3000/about</a></p>
          <br><h6>Posts routes:</h6>
          <p>Details of one post: http://localhost:3000/posts/show/:postId</p>
          <p>&nbsp;&nbsp;&nbsp;&nbsp; For example: <a href="http://localhost:3000/posts/show/63b5c71b92c8481292a9c805">http://localhost:3000/posts/show/63b5c71b92c8481292a9c805</a></p>
          <p>Go to the edit page of one post: http://localhost:3000/posts/edit/:postId</p>
          <p>&nbsp;&nbsp;&nbsp;&nbsp; For example: <a href="http://localhost:3000/posts/edit/63b5c71b92c8481292a9c805">http://localhost:3000/posts/edit/63b5c71b92c8481292a9c805</a></p>
          <p>Update one post: http://localhost:3000/posts/update/:postId/:title/:author/:message</p>
          <p>&nbsp;&nbsp;&nbsp;&nbsp; For example: <a href="http://localhost:3000/posts/update/63b5c71b92c8481292a9c805/This%20is%20the%20new%20title/New%20author/Finally%20the%20message">http://localhost:3000/posts/update/63b5c71b92c8481292a9c805/This%20is%20the%20new%20title/New%20author/Finally%20the%20message</a></p>
          <p>Delete one post: http://localhost:3000/posts/delete/:postId</p>
          <p>&nbsp;&nbsp;&nbsp;&nbsp; For example: <a href="http://localhost:3000/posts/delete/63b5995c9f9be55917a1e645">http://localhost:3000/posts/delete/63b5c71b92c8481292a9c805</a></p>
          <p>Create one post: http://localhost:3000/posts/create/:title/:author/:message</p>
          <p>&nbsp;&nbsp;&nbsp;&nbsp; For example: <a href="http://localhost:3000/posts/create/Title/Author/Message">http://localhost:3000/posts/create/Title/Author/Message</a></p>
          <br><h6>Comments routes:</h6>
          <p>Create one comment: http://localhost:3000/comments/create/:postId/:author/:message</p>
          <p>&nbsp;&nbsp;&nbsp;&nbsp; For example: <a href="http://localhost:3000/comments/create/63b5c71b92c8481292a9c805/Author%20comment/Comment">http://localhost:3000/comments/create/63b5c71b92c8481292a9c805/Author%20comment/Comment</a></p>
          <p>Update one comment: http://localhost:3000/comments/update/:postId/:commentId/:author/:message</p>
          <p>&nbsp;&nbsp;&nbsp;&nbsp; For example: <a href="http://localhost:3000/posts/update/63b5c71b92c8481292a9c805/63c15ea5ebfbc2acb6f630b6/New%20author/New%20comment">http://localhost:3000/posts/update/63b5c71b92c8481292a9c805/63c15ea5ebfbc2acb6f630b6/New%20author/New%20comment</a></p>
          <p>Delete one comment: http://localhost:3000/posts/delete/:commentId</p>
          <p>&nbsp;&nbsp;&nbsp;&nbsp; For example: <a href="http://localhost:3000/posts/delete/63c15ea5ebfbc2acb6f630b6">http://localhost:3000/posts/delete/63c15ea5ebfbc2acb6f630b6</a></p>
          <hr>
          <h5>Extra information: </h5>
          <p>The forms to create & edit a post do not work in the frontend, but this works using routes.</p>
          <p>The homepage only shows the last 5 posts to meet the requirements (returning values with a limit and offset).</p>
          <p>The search bar does not work, but with the route you can search for a post with it's title.</p>
        </div>
      </div>
    </div>
  </body>
<%- include('../partials/footer') %>