<%- include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>
    <div class="container">
      <div class="card">
        <h1 class="card-header"><%= title %></h1>
        <div class="card-body">
          <h5>GitHub Repository: </h5>
          <a href="https://github.com/hannamkrtchian/Forum">Link to GitHub</a>
          <hr>
          <h5>Sources & tutorials: </h5>
          <a href="https://getbootstrap.com/">1. Bootstrap for design.</a><br>
          <a href="https://www.youtube.com/watch?v=p3O6YcUUJmE">2. Basic Express API tutorial.</a><br>
          <a href="https://blog.logrocket.com/how-to-use-ejs-template-node-js-application/">3. Use of partials and views.</a><br>
          <a href="https://ejs.co/#docs">4. EJS Documentation.</a><br>
          <a href="https://www.mongodb.com/blog/post/quick-start-nodejs-mongodb-how-to-get-connected-to-your-database">5. Tutorial for MongoDB Connection & CRUD operations</a><br>
        </div>
      </div>
    </div>
  </body>
<%- include('../partials/footer') %>